#shop{
    padding-bottom: 40px;
    background: rgb(194,239,228);
    background: linear-gradient(0deg, rgba(194,239,228,1) 0%, rgba(98,229,223,1) 100%);
}
.shop-by{
    font-size: 45px;
    font-weight: 500;
    padding-bottom: 10px;
    font-family: 'Roboto Mono', monospace;
}
.shop-item{
    width: 22%;
    border-radius: 0px 50px 0px 50px;
    padding-bottom: 13px;
}

.shop-item:hover {
	transform: scale(1.15);
    cursor: pointer;
    transition: 0.06s;
}

.shop-item-container{
    display: flex;
}
.shop-item-img img{
    width: 100%;
    height: 150px;
    padding: 12px;
    border-radius: 0px 52px 0px 0px;
}
.shop-item-title{
    font-size: 16px;
    font-weight: 700;
    padding: 3px 0px 7px 0px;
    font-family: 'Roboto Mono', monospace;
}
.shop-item-txt{
    font-size: 12px;
    font-weight: 200;
    font-family: 'Roboto Mono', monospace;
}
.shop-all-button{
    border: none;
    padding: 7px 29px;
    font-size: 17px;
    border-radius: 40px;
    line-height: 29px;
    cursor: pointer;
    font-weight: 400;
    background-color: #F0F0F0;
    margin-top: 50px;
    font-family: 'Roboto Mono', monospace;
}

@media(max-width:900px){
    .shop-item {
        width: 30% !important;
    }
}
@media (max-width: 676px) {
    .shop-item{
        width: 100% !important;
    }
    .shop-item-container {
        display: block;
    }
    .shop-item:hover {
        transform: none;
        cursor: pointer;
        transition: 0.06s;
    }
    .shop-item {
        width: 100%;
        margin-bottom: 34px;
    }
    .shop-all-button{
        margin-top: 10px;        
    }
    .shop-by {
        font-size: 35px;
    }
}

  